/* Fonts */
.srt {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.btn, .btn--disabled, .btn--form, .btn--secondary, .btn--muted {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 0;
  white-space: nowrap;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  user-select: none;
  padding: 0.5em;
  color: #333;
  background-color: gray; }
  .btn:not(.btn--disabled):hover, .btn--disabled:not(.btn--disabled):hover, .btn--form:not(.btn--disabled):hover, .btn--secondary:not(.btn--disabled):hover, .btn--muted:not(.btn--disabled):hover, .btn:not(.btn--disabled):focus, .btn--disabled:not(.btn--disabled):focus, .btn--form:not(.btn--disabled):focus, .btn--secondary:not(.btn--disabled):focus, .btn--muted:not(.btn--disabled):focus, .btn:not(.btn--disabled):active, .btn--disabled:not(.btn--disabled):active, .btn--form:not(.btn--disabled):active, .btn--secondary:not(.btn--disabled):active, .btn--muted:not(.btn--disabled):active {
    background-color: #8c8c8c;
    color: #333; }

.btn--disabled {
  opacity: .5;
  cursor: default; }
  .btn--disabled:hover, .btn--disabled:visited {
    color: #fefefe; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

fieldset {
  border: 0; }

hr {
  border: 0;
  height: 2px;
  background: #eeeeee;
  margin: 2em 0; }

input[type='search'], input[type='text'], input[type='number'], input[type='password'], textarea, input[type='email'] {
  outline: 0;
  border: 1px solid #bfbfbf;
  padding: 0.5em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #bfbfbf; }

label {
  display: block; }

.btn, .btn--disabled, .btn--form {
  color: #fefefe;
  background-color: #E84D35;
  -webkit-box-shadow: 2px 2px #e5391e;
  -moz-box-shadow: 2px 2px #e5391e;
  box-shadow: 2px 2px #e5391e; }
  .btn:not(.btn--disabled):hover, .btn--disabled:not(.btn--disabled):hover, .btn--form:not(.btn--disabled):hover, .btn:not(.btn--disabled):focus, .btn--disabled:not(.btn--disabled):focus, .btn--form:not(.btn--disabled):focus, .btn:not(.btn--disabled):active, .btn--disabled:not(.btn--disabled):active, .btn--form:not(.btn--disabled):active {
    background-color: #eb614c;
    color: #fefefe; }
  .btn--form {
    display: block; }
  .btn--secondary {
    color: #fefefe;
    background-color: #CFDBC5;
    -webkit-box-shadow: 2px 2px #a8be96;
    -moz-box-shadow: 2px 2px #a8be96;
    box-shadow: 2px 2px #a8be96; }
    .btn--secondary:not(.btn--disabled):hover, .btn--secondary:not(.btn--disabled):focus, .btn--secondary:not(.btn--disabled):active {
      background-color: #dce5d5;
      color: #fefefe; }
  .btn--muted {
    color: #fefefe;
    background-color: #bfbfbf;
    -webkit-box-shadow: 2px 2px #999999;
    -moz-box-shadow: 2px 2px #999999;
    box-shadow: 2px 2px #999999; }
    .btn--muted:not(.btn--disabled):hover, .btn--muted:not(.btn--disabled):focus, .btn--muted:not(.btn--disabled):active {
      background-color: #cccccc;
      color: #fefefe; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }

th, td {
  text-align: left;
  padding: 1em; }
  th:first-child, td:first-child {
    border-radius: 4px 0 0 4px; }
  th:last-child, td:last-child {
    border-radius: 0 4px 4px 0; }

tr:nth-of-type(even) {
  background-color: #f1f1f1; }

thead {
  background-color: #333;
  color: #fefefe;
  border-radius: 4px; }

.table--data-attr {
  min-width: 300px; }
  .table--data-attr th {
    display: none; }
  .table--data-attr td {
    display: block; }
    .table--data-attr td:before {
      content: attr(data-item) ": ";
      width: 50%;
      display: inline-block; }
      @media (min-width: 51em) {
        .table--data-attr td:before {
          display: none; } }
  @media (min-width: 51em) {
    .table--data-attr th, .table--data-attr td {
      display: table-cell; } }

.table--default {
  margin: 1em 0;
  min-width: 300px; }
  .table--default tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd; }
  .table--default th {
    display: none; }
  .table--default td {
    display: block; }
    .table--default td:before {
      font-weight: bold;
      width: 6.5em;
      display: inline-block; }
      @media (min-width: 780px) {
        .table--default td:before {
          display: none; } }
  .table--default th, .table--default td {
    text-align: left; }
    @media (min-width: 780px) {
      .table--default th, .table--default td {
        display: table-cell;
        padding: .25em .5em; } }

a {
  color: #CFDBC5;
  border-bottom: 1px solid rgba(207, 219, 197, 0.5); }
  a:hover {
    color: #a8be96;
    border-bottom-color: #a8be96; }

h1 + p, h2 + p {
  margin-top: 0; }

/* Styleguide styles - ignore */
.container {
  width: 90%;
  margin: 2em auto;
  max-width: 50em; }

.example {
  border: 2px solid rgba(191, 191, 191, 0.3);
  border-radius: 4px;
  padding: 1rem 1.5rem;
  margin: 1rem -1.5rem; }

.colors li {
  display: inline-block;
  height: 100px;
  width: 100px;
  text-align: center;
  line-height: 160px;
  margin-right: 30px; }
  .colors li:nth-child(4n+4) {
    margin-right: 0; }

footer {
  text-align: center; }

.btn-container li {
  display: inline-block; }

/* Typography */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 1rem;
  margin-top: 2rem; }
  h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0; }

h1, h3 {
  font-family: "Roboto Slab", serif; }

h1 {
  font-size: 4.1em; }

h2 {
  font-size: 1.8em; }

h3 {
  font-size: 1.3em; }

h4 {
  font-size: 1.3em;
  font-weight: normal; }

h5 {
  font-size: 1.05em;
  letter-spacing: 1px;
  text-transform: uppercase; }

h6 {
  font-size: 1.05em; }

p {
  line-height: 1.45;
  margin-bottom: .8rem;
  max-width: 34em; }
  p:last-child {
    margin-bottom: 0; }

strong {
  font-weight: 600; }

em {
  font-style: italic; }

a {
  text-decoration: none;
  border-bottom: 1px solid inherit; }

h1 + p {
  font-size: 1.55rem;
  font-weight: 200; }

.hushed {
  font-size: .9em;
  opacity: .8; }

/* Color */
body {
  background-color: #fefefe;
  color: #666; }

.c-black {
  background-color: #333;
  color: #fefefe; }

.c-muted {
  background-color: #bfbfbf;
  color: #fefefe; }

.c-primary {
  background-color: #E84D35;
  color: #fefefe; }

.c-secondary {
  background-color: #CFDBC5;
  color: #fefefe; }

.black {
  color: #333; }

.muted {
  color: #bfbfbf; }

.primary {
  color: #E84D35; }

.secondary {
  color: #CFDBC5; }

h1, h2, h3, h4, h5 {
  color: #333; }

/* Buttons */
.example button {
  display: block;
  margin: 1em 0;
  padding: 0.5em 1em;
  font-size: 1em; }

/* Alerts */
.alert {
  border-radius: 4px;
  background-color: #CFDBC5;
  color: #fefefe;
  padding: 1.06rem .9rem 1.22rem;
  position: relative;
  max-width: 100%; }

.alert-success {
  background-color: #82c451; }

.alert-error {
  background-color: #ff797c; }

.alert_close {
  border: 0;
  border-left: 2px solid rgba(0, 0, 0, 0.12);
  color: #e6e6e6;
  font-family: 'Open Sans';
  font-size: 1.8em;
  font-weight: 800;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  padding: 0 .625em;
  line-height: 1.85em; }
  .alert_close:hover {
    color: #fefefe;
    -webkit-transition: color 0.25s ease-in-out;
    -o-transition: color 0.25s ease-in-out;
    transition: color 0.25s ease-in-out; }
