@mixin border-radius($radius: 4px) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin box-shadow($a, $c: $color-primary) {
	-webkit-box-shadow: $a $a $c;
	-moz-box-shadow: $a $a $c;
	box-shadow: $a $a $c;
}

%clearfix {
    &:after {
        content: " ";
        display: block;
        clear: both;
    }
}
