/* Fonts */
$font-family--primary: 'Roboto Slab', serif;
$font-family--secondary: 'Open Sans', sans-serif;

// font urls
// $font-url--primary : 'http://fonts.googleapis.com/css?family=Pacifico';
// $font-url--secondary : 'http://fonts.googleapis.com/css?family=Lato';

// Sizes
$font-size: 1em;