table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

th, td {
	text-align: left;
	padding: 1em;

	&:first-child {
		border-radius: 4px 0 0 4px;
	}
		&:last-child {
		border-radius: 0 4px 4px 0;
	}
}


tr:nth-of-type(even) {
	background-color: darken($white, 5%);
}


thead {
	background-color: $black;
	color: $white;
	border-radius: 4px;
}

// More practical CSS...
// using mobile first method (IE8,7 requires respond.js polyfill https://github.com/scottjehl/Respond)

%table {
  min-width: 300px; // adjust to your needs
  
  
  th {
    display: none; // for accessibility, use a visually hidden method here instead! Thanks, reddit!   
  }
  
  td {
    display: block; 
    &:before {
      content: attr(data-item)": "; 
      width: 50%; // magic number :( adjust according to your own content
      display: inline-block;
      // end options
      
      @include mq(large) {
        display: none;
      }
    }
  }
  
  th, td {
    
    @include mq(large) {
      display: table-cell;
      
    }

  }  
}

// More practical CSS...
// using mobile first method (IE8,7 requires respond.js polyfill https://github.com/scottjehl/Respond)

$breakpoint-alpha: 780px; // adjust to your needs

%responsive__table {
  margin: 1em 0;
  min-width: 300px; // adjust to your needs
  
  tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    display: none; // for accessibility, use a visually hidden method here instead! Thanks, reddit!   
  }
  
  td {
    display: block; 
    &:before {
      // content: attr(data-th)": "; // who knew you could do this? The internet, that's who.
      font-weight: bold;

      // optional stuff to make it look nicer
      width: 6.5em; // magic number :( adjust according to your own content
      display: inline-block;
      // end options
      
      @media (min-width: $breakpoint-alpha) {
        display: none;
      }
    }
  }
  
  th, td {
    text-align: left;
    
    @media (min-width: $breakpoint-alpha) {
      display: table-cell;
      padding: .25em .5em;
      
    }

  }
  
  
}


.table--default {
  @extend %responsive__table;
}

.table--data-attr {
  @extend %table;
}
